<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleExecutable</key>
	<string>ATIRadeonX3000</string>
	<key>CFBundleGetInfoString</key>
	<string>ATIRadeonX3000 7.18.11 10601</string>
	<key>CFBundleIdentifier</key>
	<string>com.apple.ATIRadeonX3000</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleName</key>
	<string>ATIRadeonX3000 Kernel Extension</string>
	<key>CFBundlePackageType</key>
	<string>KEXT</string>
	<key>CFBundleShortVersionString</key>
	<string>7.18.11</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>7.1.8</string>
	<key>IOKitPersonalities</key>
	<dict>
		<key>ATIRadeonX3000</key>
		<dict>
			<key>ATIEnableWideBlitSupport</key>
			<true/>
			<key>ATIUseTearingWideBlit</key>
			<false/>
			<key>CFBundleIdentifier</key>
			<string>com.apple.ATIRadeonX3000</string>
			<key>GpuDebugPolicy</key>
			<integer>0</integer>
			<key>IOCFPlugInTypes</key>
			<dict>
				<key>ACCF0000-0000-0000-0000-000a2789904e</key>
				<string>ATIRadeonX3000GA.plugin</string>
			</dict>
			<key>IOClass</key>
			<string>ATIRadeonX3000</string>
			<key>IODVDBundleName</key>
			<string>ATIRadeonX3000VADriver</string>
			<key>IOKitDebug</key>
			<integer>0</integer>
			<key>IOMatchCategory</key>
			<string>IOAccelerator</string>
			<key>IOPCIMatch</key>
			<string>0x68F91002 0x68881002 0x68891002 0x68981002 0x68991002 0x689C1002 0x689D1002 0x68801002 0x68901002 0x68A81002 0x68A91002 0x68B81002 0x68B91002  0x68BE1002 0x68A01002 0x68A11002 0x68B01002 0x68B11002  0x68C81002 0x68C91002 0x68D81002 0x68D91002 0x68DE1002 0x68C01002 0x68C11002 0x68D01002 0x68D11002 0x68E81002 0x68E91002 0x68F81002  0x68FE1002 0x68E01002 0x68E11002 0x68F01002 0x68F11002  0x67011002 0x67021002 0x67031002 0x67041002 0x67051002 0x67061002 0x67071002 0x67081002 0x67091002 0x67181002 0x67191002 0x671C1002 0x671D1002 0x67221002 0x67231002 0x67261002 0x67271002 0x67281002 0x67291002 0x67381002 0x67391002 0x67201002 0x67211002 0x67241002 0x67251002 0x67421002 0x67431002 0x67461002 0x67471002 0x67481002 0x67491002 0x67501002 0x67581002 0x67591002 0x67401002 0x67411002 0x67441002 0x67451002 0x67621002 0x67631002 0x67661002 0x67671002 0x67681002 0x67701002 0x67791002 0x67601002 0x67611002 0x67641002 0x67651002</string>
			<key>IOProviderClass</key>
			<string>IOPCIDevice</string>
			<key>IOSourceVersion</key>
			<string>7.18.11</string>
			<key>IOVARendererID</key>
			<integer>16908288</integer>
			<key>sensor-properties</key>
			<array>
				<dict>
					<key>device_type</key>
					<data>
					Z3B1LXNlbnNvcg==
					</data>
					<key>location</key>
					<string>GPU</string>
					<key>name</key>
					<string>gpu-sensor</string>
					<key>polling-period</key>
					<data>
					AAAAAQAAAAA=
					</data>
					<key>reg</key>
					<data>
					AAAAAg==
					</data>
					<key>sample-period</key>
					<data>
					AAAAAACYmAA=
					</data>
					<key>sensor-id</key>
					<data>
					AAAABg==
					</data>
					<key>version</key>
					<data>
					AAAAAg==
					</data>
					<key>zone</key>
					<data>
					AAAAAg==
					</data>
				</dict>
			</array>
		</dict>
	</dict>
	<key>NSHumanReadableCopyright</key>
	<string>Copyright © 2005-2009 Apple Inc. All rights reserved.</string>
	<key>OSBundleLibraries</key>
	<dict>
		<key>com.apple.iokit.IOGraphicsFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IONDRVSupport</key>
		<string>1.0.0b1</string>
		<key>com.apple.iokit.IOPCIFamily</key>
		<string>1.0.0b1</string>
		<key>com.apple.kpi.bsd</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.iokit</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.libkern</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.mach</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.private</key>
		<string>8.0.0</string>
		<key>com.apple.kpi.unsupported</key>
		<string>8.0.0</string>
	</dict>
</dict>
</plist>
